
<mat-form-field>
    <input class="input" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <button mat-raised-button id="new-post-button" (click)="openBottomSheet()">New post</button>

<table mat-table #poststable
       [dataSource]="this.dataSource" multiTemplateDataRows
       class="mat-elevation-z8"
       matSort>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
    <td mat-cell *matCellDef="let element"> <a [routerLink]="['/userinfo/', element.authorId]" (click)="stopPropagation($event)">{{element.author}}</a></td>
  </ng-container>

  <ng-container matColumnDef="likes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Likes </th>
    <td mat-cell *matCellDef="let element"> {{element.likes}} </td>
  </ng-container>

  <ng-container matColumnDef="dislikes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dislikes </th>
    <td mat-cell *matCellDef="let element"> {{element.dislikes}} </td>
  </ng-container>

  <ng-container matColumnDef="createdOn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created on </th>
    <td mat-cell *matCellDef="let element"> {{element.createdOn | date:"short"}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [routerLink]="[element.id]">
  </tr>
  

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
