.mat-card {
  max-width: 650px;
  margin: auto;
}

img {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 3px;
  padding-right: 7px;
  height: 300px;
}

.info-title {
  display: inline-block;
  height: 100px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flex {
  border-radius: 5px;
  border: solid rgba(100, 175, 237, 0.603);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#title {
  font-size: 23px;
  padding: 1px;
}

.info {
  font-size: 17px;
  padding: 4px;
  width: auto;
  border-bottom: solid rgba(183, 183, 183, 0.644);

}

button {
  margin: 3px;
}

.friendship {
  display: flex;
  margin-left: 1px;
}

.followers {
  height: 150px;
  width: 150px;
  margin: 2px;
  /* border-right: solid rgba(183, 183, 183, 0.644); */
}

.following {
  margin: 2px;
  width: 150px;
  margin-left: 20px;
}

/* .mat-card-content {
 
  border-radius: 5px;
  border:solid  rgba(100, 175, 237, 0.603);
} */
