<mat-card>
  <mat-card-content class="flex"><img mat-card-avatar src="../../../../assets/defaultAvatar.jpg" />
    <div class="contents">
      <div class="info-title">
        <div id="title">User Info</div>
        <div class="info">
          <div id="name">Username: {{this.user.name}}</div>
          <div id="mail">Email: {{this.user.email}}</div>
          <div id="role">Role: {{this.user.role}}</div>
        </div>
      </div>
      <div class="friendship">
        <div class="followers" ><span>Followers:</span><br />
          <ng-container *ngFor="let follower of this.user.followers">
            <p>{{follower}}</p>
          </ng-container>
        </div>
        <div class="following"><span>Following:</span><br />
        <ng-container *ngFor="let following of this.user.following"> 
          <p>{{following}}</p> </ng-container></div>
       
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <span>
      Actions
    </span>
    <div class="buttons">
      <button mat-raised-button color="primary" *ngIf="showFollowButton"
        (click)="followUser(this.user.id)">Follow</button>
      <button mat-raised-button color="primary" *ngIf="showUnfollowButton"
        (click)="unFollowUser(this.user.id)">Unfollow</button>
      <button mat-raised-button  color="primary" *ngIf="showBanButton" (click)="banUser(this.user.id)">Ban User</button>
      <button mat-raised-button color="primary" *ngIf="showUnbanButton" (click)="unBanUser(this.user.id)">Unban
        User</button>
      <button mat-raised-button color="primary" *ngIf="showDeleteButton" (click)="deleteUser(this.user.id)">Delete
        User</button>
    </div>
  </mat-card-content>
</mat-card>
