<mat-toolbar >
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu menu-overflow-hidden #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [disabled]="!loggedIn" routerLink="/posts">
        <mat-icon>markunread_mailbox</mat-icon>
        <span>Posts</span>
      </button>
      <button mat-menu-item [disabled]="!loggedIn" [routerLink]="['/userinfo/', id]">
        <mat-icon>perm_identity</mat-icon>
        <span>Profile</span>
      </button>
    </mat-menu>
    
  <h1>Awesome Forum</h1>
  <span class="fill-space"></span>
  <ng-template [ngIf]="!loggedIn">
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
    <button mat-stroked-button color="primary" routerLink="/register">Register</button>
  </ng-template>
  <ng-template [ngIf]="loggedIn">
    <span class="auth-username">{{ username }} </span>
    <button mat-stroked-button color="primary" (click)="triggerLogout()">Logout</button>
  </ng-template>
</mat-toolbar>