.auth-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.auth-sidenav {
  padding: 100px 4px;
  background: #555;
  width: 15%;
}

.auth-content {
  padding: 10px;
}
.mat-drawer-container {
  background-image: url('/./assets/9.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

