
<mat-sidenav-container class="auth-sidenav-container">
  <mat-sidenav-content>
    <app-navbar [loggedIn]="isLogged" [id]="id" [username]="username" (logout)="logout()"></app-navbar>
    <div class="auth-content">
      <router-outlet></router-outlet>
    </div>
   </mat-sidenav-content>
</mat-sidenav-container>
