<div class="auth-centered">
  <mat-form-field>
    <input #username matInput placeholder="Username">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input #password matInput placeholder="Password" type="password">
  </mat-form-field>
  <br/>
  <button mat-raised-button color="primary" (click)="triggerLogin(username.value, password.value)">Login</button>
</div>