.content{
    height: 200px;
    padding: 40px;
    border:solid 3px #aacfe4;
}

#title{
    width: 500px;
    font-size:10pt;
}

#content{
    width: 500px;
    height: 200px;
    font-size:10pt;
}

.invalidInput{
    color: red;
}


.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 50%;
  }
