<form #myForm="ngForm" (ngSubmit)="this.createNewComment(myContent.value)">
  <div class="example-container">
  <mat-form-field>
    <textarea #myContent="ngModel" matInput name="content" placeholder="Type your message here." id="content" ngModel required minlength="10"></textarea>
  </mat-form-field>
    <div *ngIf="myContent.dirty && myContent.invalid && !!myContent.control.errors.minlength" class="invalidInput">Content must be at least 10 symbols long</div>
    <div *ngIf="myContent.dirty && myContent.invalid && !!myContent.control.errors.required" class="invalidInput">Please, provide valid content.</div>
</div>
<div class="buttonGroup">
  <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">Submit &nbsp; <mat-icon>message</mat-icon></button>
  <button type="button" mat-raised-button color="warn" (click)="this.dismiss()">Cancel &nbsp; <mat-icon>cancel_presentation</mat-icon></button>
</div>
</form>
