.mat-card-title {
  font-size: 4mm
}

.mat-card {
  max-width: 850px;
  margin: auto;
  margin-top: 10px;
}

.mat-card-content {
  /* background-color: rgba(100, 148, 237, 0.603); */
  border-radius: 5px;
  height: 70px;
  border: solid rgba(100, 175, 237, 0.603);
}

.mat-card-avatar {
  background-size: cover;
}

.mat-card-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.mat-card-actions {
  display: flex;
}

.float-right{
  margin-left: auto;
}

.mat-cart-actions .flex-spacer {
  width: 100%;
}

#content {
  word-wrap: break-word;
}

#post {
  padding: 7px;
}

.dislike {
  color: rgb(241, 0, 0);
}

.like {
  color: #1da1f2;
}

.comment {
  color: grey;
}

.button {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 13px 15px;
  margin: 10px 10px;
  cursor: pointer;
  transition: all 0.3s
}

.button.like:hover {
  background-color: cornflowerblue;
  color: #ffff
}

.button.like:active {
  transform: rotate(-20deg);
}

.button.dislike:active {
  transform: rotate(20deg);
}

.button.dislike:hover {
  background-color: rgb(241, 0, 0);
  color: #ffff
}

#likes {
  font-size: 17px;
  text-align: center;
  font-weight: 900;
  color: #1da0f2a2;
  font-family: arial;
  padding-left: 10px;
}

#dislikes {
  font-size: 17px;
  text-align: center;
  font-weight: 900;
  color: #f21d1da2;
  font-family: arial;
}

.votes div {
  display: inline-block;
}

.float-right {
  justify-content: flex-end;
  margin-left: auto;
  width: 100%;
  display: flex;
  align-self: flex-end;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.delete:hover {
  background-color: rgb(138, 138, 138);
  color: #ffff
}

.pen:hover {
  background-color: rgb(138, 138, 138);
  color: #ffff
}

.pen {
  color: #585858;
}

.delete {
  color: #585858;
}

::selection {
  background: #006eff;
  color: #ffffff;
  /* WebKit/Blink Browsers */

}

::-moz-selection {
  background: #006eff;
  color: #ffffff;
  /* Gecko Browsers */
}
