<mat-card>
  <mat-card-header> <img mat-card-avatar src="../../../../assets/defaultAvatar.jpg" />
    <mat-card-title>By: {{comment.author}}</mat-card-title>
    <mat-card-subtitle> On: {{comment.createdOn | date:"dd/MM/yyyy, hh:mm:ss"}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="content">
      <p id="post">{{comment.message}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex">
      <div class="votes">
        <div>
          <div id="likes">{{comment.likes}} </div>
          <div class="button like" (click)="voteEmmit('Like')"><i class="fas fa-thumbs-up fa"></i></div>
        </div>
        <div>
          <div class="button dislike" (click)="voteEmmit('Dislike')"><i class="fas fa-thumbs-down fa"></i></div>
          <div class="flex-spacer"></div>
          <div></div>{{comment.dislikes}}
        </div>
      </div>
    </div>
    <div class="float-right">
      <div *ngIf="showCommentButtonsDeleteAndUpdate" class="button pen" (click)="updateEmmit()"><i class="fas fa-pen fa"></i></div>
      <div *ngIf="showCommentButtonsDeleteAndUpdate" class="button delete" (click)="deleteComment()"><i class="fas fa-trash fa"></i></div>
    </div>
  </mat-card-actions>
</mat-card>