.mat-card-content {
  /* background-color: rgba(100, 175, 237, 0.603);  */
  border-radius: 5px;
  border: solid rgba(100, 175, 237, 0.603);
}

.mat-card {
  max-width: 850px;
  margin: auto;
}

.mat-card-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.mat-card-actions {
  display: flex;
  height: 3cm;
}

.mat-cart-actions .flex-spacer {
  width: 100%;
}

#post {
  padding: 7px;
}

#content {
  word-wrap: break-word;
  height: 300px;
}

.dislike {
  color: rgb(241, 0, 0);
}

.like {
  color: #1da1f2;
}

.comment {
  color: grey;
}

.float-right .button {
  color: #585858
}

.float-right {
  justify-content: flex-end;
  margin-left: auto;
  width: 100%;
  display: flex;
  align-self: flex-end;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.votes div {
  display: inline-block;
}

.button {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 15px 15px;
  margin: 10px 10px;
  cursor: pointer;
  transition: all 0.3s
}

.button.like:hover {
  background-color: cornflowerblue;
  color: #ffff
}

.button.like:active {
  transform: rotate(-20deg);
}

.button.dislike:active {
  transform: rotate(20deg);
}


.button.dislike:hover {
  background-color: rgb(253, 36, 36);
  color: #ffff
}

.button.comment:hover {
  background-color: rgb(138, 138, 138);
  color: #ffff
}

.button.delete:hover {
  background-color: rgb(138, 138, 138);
  color: #ffff
}

.button.update:hover {
  background-color: rgb(138, 138, 138);
  color: #ffff
}

.expand:active {
  transform: translate(0px, 15px)
}

#likes {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
  color: #1da0f2a2;
  font-family: arial;
  padding-left: 10px;
}

#dislikes {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
  color: #f21d1da2;
  font-family: arial;
}

::selection {
  background: #006eff;
  color: #ffffff;
}

::-moz-selection {
  background: #006eff;
  color: #ffffff;
}

.buttonLiked {
  background-color: cornflowerblue;
  color: #ffff
}

.buttonDisliked {
  background-color: rgb(253, 36, 36);
  color: #ffff
}