<mat-card class="custom">
  <mat-card-header> <img mat-card-avatar src="../../../../assets/defaultAvatar.jpg" />

    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle><a [routerLink]="['/userinfo/', post.authorId]">By: {{post.author}} on:
        {{post.createdOn | date:"dd/MM/yyyy, hh:mm:ss"}}</a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="content">
      <p id="post">{{post.content}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex">
      <div class="votes">
        <div>
          <div id="likes">{{post.likes}} </div>
          <div class="button like" [ngClass]="this.getLikeButtonClass()" (click)="vote('Like')"><i class="fas fa-thumbs-up fa-2x"></i></div>
        </div>
        <div>
          <div class="button dislike" [ngClass]="this.getDislikeButtonClass()" (click)="vote('Dislike')"><i class="fas fa-thumbs-down fa-2x"></i></div>
          <div id="dislikes">{{post.dislikes}}</div>
        </div>
      </div>
      <div class="button expand" (click)="showComments =!showComments"><i class="fas fa-sort-down fa-2x"></i></div>
    </div>
    <div class="float-right">
      <div class="button comment" (click)="openCreateCommentBottomSheet()"><i class="fas fa-comment-alt fa-2x"></i>
      </div>
      <div *ngIf="showButtonsDeleteAndUpdate" class="button update" (click)="openUpdatePostBottomSheet()"><i class="fas fa-pen fa-2x"></i></div>
      <div *ngIf="showButtonsDeleteAndUpdate" class="button delete" (click)="this.deletePost()"><i class="fas fa-trash fa-2x"></i></div>
    </div>
  </mat-card-actions>
</mat-card>


<ng-container *ngIf="showComments">
  <ng-container *ngFor="let comment of comments">
    <app-comment-view [showCommentButtonsDeleteAndUpdate]="showCommentButtonsDeleteAndUpdate(comment.authorId)" (vote)="commentVote($event.id, $event.VoteType)"
      (update)="openUpdateCommentBottomSheet($event.id, $event.message)" [comment]="comment" [postId]="post.id" (delete)="deleteComment($event)">
    </app-comment-view>
  </ng-container>
</ng-container>
