<form #myForm="ngForm" (ngSubmit)="this.createNewPost(myTitle.value, myContent.value)" color="primary">
		<div class="example-container">
	<mat-form-field color="primary">
		<input #myTitle="ngModel" matInput type="text" name="title" placeholder="Type your title here." id="title" ngModel required minlength="10" maxlength="60">
	</mat-form-field >
		<div *ngIf="myTitle.dirty && myTitle.invalid && !!myTitle.control.errors.minlength" class="invalidInput">Title must be at least 10 symbols long.</div>
		<div *ngIf="myTitle.dirty && myTitle.invalid && !!myTitle.control.errors.required" class="invalidInput">Please, provide a title.</div>
  		<br />
		<mat-form-field color="accent">
  		<textarea #myContent="ngModel" matInput name="content" placeholder="Type your content here." id="content" ngModel required minlength="10"></textarea>
		</mat-form-field>
			<div *ngIf="myTitle.dirty && myTitle.invalid && !!myTitle.control.errors.minlength" class="invalidInput">Content must be at least 10 symbols long</div>
			<div *ngIf="myTitle.dirty && myTitle.invalid && !!myTitle.control.errors.required" class="invalidInput">Please, provide valid content.</div>
	</div>
	<div class="buttonGroup">
		<button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">Submit &nbsp; <mat-icon>message</mat-icon></button>
		<button type="button" mat-raised-button color="warn" (click)="this.dismiss()">Cancel &nbsp; <mat-icon>cancel_presentation</mat-icon></button>
	</div>
</form>
